<div id="templatemo_sidebar">
	<div class="sidebar_content_box">
		<div style="float: left;">
			<h3>Categories</h3>
			<div class="clear"></div>
		</div>
		<div class="content_mb_0">
			<button class="edit right" ng-click="importAll()">Import Testdata</button>
			<button class="edit right" ng-click="gotoCreateCategory()">New</button>
			<div class="clear"></div>
		</div>
		<ul class="sidebar_link">
			<li ng-repeat="m in categories">
				<a href="#/news_category/{{m.id}}">{{m.name}}</a>
					<button class="edit right" ng-click="deleteCategory(m.id)">Delete</button>
					<button class="edit right" ng-click="gotoUpdateCategory(m.id)">Edit</button>
			</li>
		</ul>
	</div>
</div>

<div id="templatemo_content">
	<div id="news" class="section section_with_padding">

		<div style="float: left;">
			<h2>Recent News</h2>
			<div class="clear"></div>
		</div>
		<div class="content_mb_0">
			<button class="edit right" ng-click="gotoCreateNews()">New</button>
			<div class="clear"></div>
		</div>
		<div class="news_list content_mb_30" ng-repeat="n in news">
			<b>{{n.title}} - {{n.category.name}}</b>
			<p>{{n.content}}</p>
			<button class="edit right" ng-click="deleteNews(n.id)">Delete</button>
			<button class="edit right" ng-click="gotoUpdateNews(n.id)">Edit</button>
			<div class="clear"></div>
		</div>

		<div class="clear"></div>
		<!--<a href="#" class="more right">More</a>-->
	</div>
</div>