<div id="templatemo_sidebar">
	<div class="sidebar_content_box">
		<div style="float: left;">

			<h3>Categories</h3>
			<div class="clear"></div>
		</div>
		<div class="content_mb_0">
			<button class="edit right" ng-click="importAll()">Import Testdata</button>
			<button class="edit right" ng-click="gotoCreateCategory()">New</button>
			<div class="clear"></div>
		</div>
		<ul class="sidebar_link">
			<li ng-repeat="m in categories"><a href="#">{{m.name}}</a></li>
		</ul>
	</div>
</div>

<div id="templatemo_content">
	<h1>{{title}}</h1>
	<div class="content_wrapper content_mb_60">
		<div id="contact_form">

			<div class="col_2">
				<label for="title">Title:</label>
				<input name="title" type="text" class="input_field col_2" id="title"
					maxlength="30" ng-model="news.title" />
				<div class="clear"></div>
			</div>
			
			<div class="col_2">
				<label for="publishedBy">Published By:</label> <input
					id="publishedBy" type="text" ng-model="news.publishedBy"
					class="input_field col_2" maxlength="20">
				<div class="clear"></div>
			</div>

			<!-- 		<div class="col_2 no_margin_right"> -->
			<!-- 			<label for="subject">Author:</label> <input name="author" -->
			<!-- 				type="text" class="input_field col_2" id="email" maxlength="30" /> -->
			<!-- 			<div class="clear"></div> -->
			<!-- 		</div> -->

			<!-- 		<div class="col_2"> -->
			<!-- 			<label for="fullname">Published At:</label>  -->
			<!-- 			<input id="publishedAt" type="text" ng-model="news.publishedAt" data-date-format="dd/mm/yyyy" bs-datepicker> -->
			<!-- 			<button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button> -->
			<!-- 			<div class="clear"></div> -->
			<!-- 		</div> -->


			<div class="col_2">
				<label for="category">Category:</label>
				<select 
					ng-model="news.category" 
					ng-options="c.name for c in categories" 
					class="input_field col_2" 
					maxlength="20">
				</select>
				<div class="clear"></div>
			</div>
			
			<div class="col_2">
				<label for="text">Content:</label>
				<textarea class="col_2" id="content" name="content" class="required"
					ng-model="news.content">{{news.content}}</textarea>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
			<button class="submit_btn left" ng-click="doEdit()">Save</button>
		</div>

	</div>
</div>