<div class="subPart personAll">
	<div class="subPartTitle"><h1>{{title | translate}}</h1></div>
	<div class="editMenu">
		<button class="buttonSmall grey floating" ng-click="gotoCreatePerson();">erstellen</button>
		<button class="buttonSmall grey floating" ng-click="idSelected != null && gotoUpdatePerson(idSelected);" ng-disabled="idSelected == null">bearbeiten</button>
		<button class="buttonSmall grey floating" ng-click="idSelected != null && deletePerson(idSelected);" ng-disabled="idSelected == null">l&ouml;schen</button>
	</div>
	<div class="resultTable">
		<table>
			<thead>
				<tr>
					<th>{{'person.firstName' | translate}}</th>
					<th>{{'person.lastName' | translate}}</th>
					<th>{{'person.title' | translate}}</th>
					<th>{{'person.age' | translate}}</th>
				</tr>	
			</thead>
			<tbody>
				<tr ng-repeat="person in personAll" ng-click="setSelected(person.id)" ng-class="{selected: person.id === idSelected }" ng-dblclick="setSelected(person.id);gotoUpdatePerson(idSelected);">
					<td>{{person.firstName}}</td>
					<td>{{person.lastName}}</td>
					<td>{{person.title}}</td>
					<td>{{person.age}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>