<div class="subPartTitle"><h1>{{title | translate}}</h1></div>
<div class="subPart addressSingle">
	<form class="editForm" name="personForm">
		<div class="errorGlobal">
			<p>{{message}}</p>
			<ul>
				<li ng-repeat="error in validationErrors">{{error.fieldname}}: {{error.message}}</li>
			</ul>
		</div>
		<div class="editArea">
			<fieldset>
				<span class="error" ng-show="personForm.firstname.$error.required">{{'error.required' | translate}}</span>	
				<span class="error" ng-show="personForm.firstname.$error.minlength">{{'error.minlength' | translate}}</span>
				<span class="error" ng-show="personForm.firstname.$error.maxlength">{{'error.maxlength' | translate}}</span>
				<label for="firstname">{{'person.firstName' | translate}}:</label>
				<input name="firstname" id="firstname" type="text" ng-model="person.firstName" ng-minlength="1" ng-maxlength="20" required />
			</fieldset>
			<fieldset>
				<span class="error" ng-show="personForm.lastname.$error.required">{{'error.required' | translate}}</span><div class="clear"></div>	
				<span class="error" ng-show="personForm.lastname.$error.minlength">{{'error.minlength' | translate}}</span><div class="clear"></div>
				<span class="error" ng-show="personForm.lastname.$error.maxlength">{{'error.maxlength' | translate}}</span><div class="clear"></div>
				<label for="lastname">{{'person.lastName' | translate}}:</label>
				<input name="lastname" id="lastname" type="text" ng-model="person.lastName" ng-minlength="1" ng-maxlength="20" required />
			</fieldset>
			<fieldset>
				<span class="error" ng-show="personForm.title.$error.minlength">{{'error.minlength' | translate}}</span><div class="clear"></div>
				<span class="error" ng-show="personForm.title.$error.maxlength">{{'error.maxlength' | translate}}</span><div class="clear"></div>
				<label for="title">{{'person.title' | translate}}:</label>
				<input name="title" id="title" type="text" ng-model="person.title" ng-minlength="1" ng-maxlength="10" />
			</fieldset>
			<fieldset>
				<span class="error" ng-show="personForm.age.$error.required">{{'error.required' | translate}}</span><div class="clear"></div>	
				<span class="error" ng-show="personForm.age.$error.minlength">{{'error.minlength' | translate}}</span><div class="clear"></div>
				<span class="error" ng-show="personForm.age.$error.maxlength">{{'error.maxlength' | translate}}</span><div class="clear"></div>
				<label for="age">{{'person.age' | translate}}:</label>
				<input name="age" id="age" type="text" ng-model="person.age" ng-minlength="1" ng-maxlength="2" required />
			</fieldset>
		</div>
		<div class="submitArea">
			<button class="buttonRounded green" ng-click="doMaintain()"><img src="res/img/symbols/save-wh.png" border="0" /><span class="hidden">Person speichern</span></button>
			<button class="buttonRounded grey" ng-click="doBack()"><img src="res/img/symbols/refresh-wh.png" border="0" /><span class="hidden">Formular zur&uuml;cksetzen</span></button>
		</div>
	</form>
</div>