<div id="templatemo_content">
	<h1>{{title | translate}}</h1>
	<div class="content_wrapper content_mb_60">
	<div id="menuWrap">
		<button ng-click="gotoCreateAddress();">create</button>
		<button ng-click="idSelected != null && gotoUpdateAddress(idSelected);" ng-disabled="idSelected == null">update</button>
		<button ng-click="idSelected != null && deleteAddress(idSelected);" ng-disabled="idSelected == null">delete</button>
	</div>
		<table>
		<thead>
			<tr>
				<th>{{'address.street' | translate}}</th>
				<th>{{'address.postcode' | translate}}</th>
				<th>{{'address.streetNumber' | translate}}</th>
			</tr>	
		</thead>
		<tbody>
			<tr ng-repeat="address in addressAll" ng-click="setSelected(address.id)" 
				ng-class="{selected: address.id === idSelected }" 
				ng-dblclick="setSelected(address.id);gotoUpdateAddress(idSelected);">

				<td>{{address.street}}</td>
				<td>{{address.postcode}}</td>
				<td>{{address.streetNumber}}</td>
			</tr>
		</tbody>
		<tfoot></tfoot>
		</table>
	</div>
</div>