<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="lireJarpApp">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>LireJarp</title>
	<meta name="keywords" content="lirejarp, jee, java, architecture" />
	<meta name="description" content="Lightweight REST JEE Arch Pattern " />
	<link href="css/main.css" rel="stylesheet" type="text/css" />
	
	<script src="../lib/angular.js"></script>
	<script src="../lib/angular-route.js"></script>
	<script src="../lib/global-directives.js"></script>
		
	<script src="../serviceconnector/rest-connector-factory.js"></script>
	<script src="../serviceconnector/category/category-connector.js"></script>
	<script src="../serviceconnector/news/news-connector.js"></script>
	
	<script src="category/category-ctrl.js"></script>
	<script src="category/category-config.js"></script>

	<script src="news/news-ctrl.js"></script>
	<script src="news/news-config.js"></script>

	<script src="frontpage.js"></script>

</head>
<body>
<div id="templatemo_wrapper">
	<div id="templatemo_header"><span class="header_border"></span>
    	<div id="site_title"><h1><a rel="nofollow" href="#">LireJarp</a></h1></div>
	</div> <!-- END of header -->
   
    <div id="templatemo_main_content">
    	<div id="templatemo_sidebar">
    	    <div class="sidebar_box small">
            	<span class="menu_title"><a rel="nofollow" href="#">Recent News</a></span>
            </div>
            <div class="sidebar_box">
            	<span class="menu_title">Categories</span>
				<ul class="sidebar_link">
					<li ng-repeat="m in categories">
						<a href="#/news_category/{{m.id}}">{{m.name}}</a>
					</li>
				</ul>
            </div>
            
           	<div class="sidebar_box">
            	<span class="menu_title">Navigation</span>
				<ul class="sidebar_link">
					<li ng-repeat="m in categories">
						<li><a href="../backoffice/index.html">Backoffice</a></li>
						<li><a class="selected" href="index.html"><span></span>Frontpage</a></li>
						<li><a href="../index.html">Start</a></li>
					</li>
				</ul>
            </div>
        </div>
        
        <div id="templatemo_content">
			<div ng-view></div>
        </div>
        <div class="clear"></div>
    </div> <!-- END of templatemo_main_content -->
    
    <div id="templatemo_footer">
		We thanks http://www.templatemo.com for providing the original template. | Design: <a rel="nofollow" href="http://www.templatemo.com/preview/templatemo_389_universe">Universe</a>
    </div> <!-- END of templatemo_footer -->
</div> <!-- END of templatemo_wrapper -->
</body>
</html>